.navbar {
    background-color: gray;
}
.quem-somos{
    background-color:bisque
}
.margin{
    padding-bottom: 50px;
    padding: auto;
    padding: top 5px ;
}
.rounded-circle{
    border-radius: 50%;
}
.parceiros{
    background-color: grey;
    position: 30px;
    
}
.bg-futer{
    background-color: #000;
}